:80 {
	root * /srv
	encode gzip zstd

	@api path /api/* /docs* /openapi.json /redoc*
	handle @api {
		reverse_proxy core-api:8000
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
